# string functions

# #input()-: to take the input from the user

In [1]:


name  = input("Enter your name ")

Enter your name avanish

In [2]:
name

'avanish'

In [3]:
print(type(name))

<class 'str'>

In [4]:
# type casting
# int()
#float()
# bool()
# complex()

In [5]:
num = int(input("Enter any number "))

Enter any number 5

In [6]:
print(num)

5

In [7]:
print(type(num))

<class 'int'>

In [8]:
num1 = input("Enter any number ")

Enter any number 5

In [9]:
print(int(num1), type(num1))

5 <class 'str'>

## split()

In [10]:
s = "hello how are you hope you are doing well"
print(s.split(' '))

['hello', 'how', 'are', 'you', 'hope', 'you', 'are', 'doing', 'well']

In [11]:
file = input("Enter the path of your file:")
res = file.split('/')[-1]
print(res)

Enter the path of your file:D:python.org
D:python.org

## find()
## index()

In [12]:


s = "hello how are you hope you are doing well"
res = s.find('you')
print(res)

14

In [13]:
s = "hello how are you hope you are doing well"
res = s.index('you')
print(res)

14

In [14]:
res = s.find('how are you hope you are doing w')
print(res)

6

In [15]:
res1 = s.find('am')
print(res1)

-1

In [16]:
res1 = s.index('am')
print(res1)

ValueError: substring not found

In [ ]:
#

In [17]:
s = "hello how are you hope you are doing well"
print(s.count('are'))

2

In [ ]:
print(s.count('a'))

In [ ]:
print(s.count('o'))

In [ ]:
print(len(s))

In [ ]:
# join
name  = "Avanish"
res = '+'.join(name)
print(res)

In [ ]:
res = '-'.join(name)
print(res)

In [ ]:
res = ','.join(name)
print(res)

In [ ]:
# list()

In [ ]:
# it is sequential data type that stores hetrogeneous type of data.
li = [1, "avanish", "delhi",25, 300000]
print(li)

In [ ]:
# in list order is preserved

In [ ]:
print(len(li))

In [ ]:
print(li[3])

In [ ]:
print(li[1][2])

In [ ]:
# mutability/immutability

In [ ]:
name  = "Avanish singh"
i = name.find('s')
name[i] = 'm'
print(name)

In [ ]:
li = [1, "avanish", "delhi",25, 300000]
li[1] = 'Vasu'
print(li)

In [ ]:
li = [1, "avanish", "delhi",25, 300000]
li[1][3] = 'm'
print(li)

In [ ]:
li = [1, "avanish", "delhi",25, 300000]
res = li.index('delhi')
print(res)

In [ ]:
res = li.index('a')
print(res)

In [ ]:
li = [1, "avanish", "delhi",25, 300000]
#apppend
li.append('MCA')
print(li)

In [ ]:
li

In [ ]:
li.append(1, 'vasu', 'delhi')

In [ ]:
li.append([1, 'vasu', 'delhi'])

In [ ]:
li

In [ ]:
# list inside a list
len(li)

In [ ]:
li[6]

In [ ]:
# extend
li.extend([2, 'vasu', 'delhi'])

In [ ]:
li

In [ ]:
nli = [1, "avanish", "delhi",25, 300000]
nli.extend([2,'vasu','delhi'])
print(nli)

In [ ]:
# insert()

In [ ]:
nli

In [ ]:
nli[2] = "No"
print(nli)

In [ ]:
li2 = [1, 'avanish', 'delhi', 25, 300000, 2, 'vasu', 'delhi']
li2.insert(2,'Yes')
print(li2)

In [ ]:
#pop

In [ ]:
li2

In [ ]:
li2.pop()

In [ ]:
li2

In [ ]:
li2

In [ ]:
li2.pop(-4)
li2

In [ ]:
# tuple()
t = (1,"rahu","ddlj", 123673, 1990)
print(type(t))

In [ ]:
# tuple stores random data
t1 = 1,2,2,"avanish", "avira",8746,834.909
print(t1)
print(type(t1))

In [ ]:
t1

In [ ]:
print(t1[4])

In [ ]:
t1[4] = "Rahul"
print(t1)

In [ ]:
x = list((1,2,3,4))
print(x)

In [ ]:
type(x)

In [ ]:
y = tuple(1,4,55,6,3,34)
print(y)

In [ ]:
y = tuple((1,4,55,6,3,34))
print(y)

In [ ]:
type(y)

In [ ]:
type(x)

In [ ]:
z = tuple([1,4,55,6,3,34])
print(z)
print(type(z))

In [ ]:
# dict

# it stores the data in the form of key and value
# it does not work on index, it works on key
# key and value can be of any data type
# key can not be duplicate but value can
# dictionary is mutable

In [ ]:
di = {'id':1001, 'name':'Avanish', 'Age':25, 2324: 56.90, 'comp':20+56j}
print(di)

In [ ]:
print(di['Age'])

In [ ]:
print('Age')

In [ ]:
print(di['comp'])

In [ ]:
print(di[2324])

In [ ]:
# mapping data type

In [ ]:
di = {'id':1001, 'name':'Avanish', 'Age':25, 2324: 56.90, 'comp':20+56j}
print(di)

In [ ]:
print(di['id'])

In [ ]:
print(di.keys())

In [ ]:
print(di.values())

In [ ]:
print(di.items())

In [ ]:
di

In [ ]:
di['Age']=30
print(di)

In [ ]:
di

In [ ]:
d2 = {'city':'Delhi', 'windspeed':12, 'temprature':38}

In [ ]:
di.update(d2)
print(di)

In [ ]:
di

In [ ]:
print(di)

In [ ]:
# set data type

In [ ]:
s = set()
type(s)

In [ ]:
s1 = {}
print(type(s1))

In [ ]:
s2 = {1,2,6,7,11,4,3,8}
print(s2)
print(type(s2))

In [ ]:
# set mutable
# set dose not preserve order
# it dose not contain duplicates

In [ ]:
s3 = {1,2,5,8,5,3,8,9,3,4,2}
print(s3)

In [ ]:
s3.add(50)
print(s3)

In [ ]:
s3.remove(8)
print(s3)

In [ ]:
s2

In [ ]:
s3

In [ ]:
s2.union(s3)

In [ ]:
s2.intersection(s3)

In [ ]:
s2.difference(s3)

In [ ]:
s2.issubset(s3)

In [ ]:
s2.isdisjoint(s3)

In [ ]:
s2

In [ ]:
s3

In [ ]:
s4 = {100,200}

In [ ]:
s2.isdisjoint(s4)

In [ ]:
# slicing in python

# syntax -: var_name[start_position:stop_posistion:steps] # stop-1

x = "avanish singh"
print(x[1])

In [ ]:
x = "avanish singh"
print(x[2:7])

In [ ]:
print(x[:])

In [ ]:
print(x[::])

In [ ]:
print(x[3:])

In [ ]:
print(x[3:100])

In [ ]:
x

In [ ]:
print(x[-1:-6])

In [ ]:
print(x[-1:-6:-1])

In [ ]:
print(x[::-1])

In [ ]:
n = [1, 'avanish', 'Yes', 'delhi', 25, 300000, 2, 'vasu', 'delhi']
print(n[1:4])

In [ ]:
print(n[-3::-1])

In [ ]:
print(n[-3:-7:-1])

In [ ]:
d2 = {'dates':['25/03/2021','23/03/2021','26/03/2021','22/03/2021','20/03/2021'],
     'city':['delhi','mumbai','chennai','ahamdabad','varanshi'],
     'temprature':[32,37,41,33,34]}
print(d2)

In [ ]:
print(d2['dates'][1])

In [ ]:
print(d2['city'][1])

In [ ]:
print(d2['temprature'][1])

In [ ]:
# operators
# %
# // -: floor division
# / -:division

In [ ]:
a = 10
b = 3
print(a/b)
print(a//b)

In [ ]:
print(a**b)

In [ ]:
print(a%b)

In [ ]:
#relational operator
print(a>b)

In [ ]:
c =12
d =15
# cjaining of operations
print(a>b>c>d)

In [ ]:
print(a>b<c<d)

In [ ]:
# logical operator
# and &&
# or  ||
# not   !

In [ ]:
#= Asignment operator
#== eqality operator

In [ ]:
x = "avanish"
y = "Singh"
print(x==y)

In [ ]:
# special operator
# 1. identity operator -: is , is not # compare memory addresses
# 2. membership operator-:  in, in not

In [ ]:
x = 10
y = 20
print(x is y)

In [ ]:
x = 10
y = 20
z = 20
print(y is z)

In [ ]:
m = [1,3,7,2,8]
n = [1,3,7,2,8]
print(m is n)

In [ ]:
m = [1,3,7,2,8]
n = [1,3,7,2,8]
print(m is not n)

In [ ]:
# 2. membership operator-:  in, not in

In [ ]:
m = [1,3,7,2,8]
print(2 in m)

In [ ]:
m = [1,3,7,2,8]
print(10 not in m)

In [ ]:
colors = ['red','blue','green','yellow','black']
print('blue' not in colors)

In [ ]:
# condiotional statements

In [ ]:
age = int(input("Enter Your age:"))
if age>18: #T #F  14>18 #F
    print("You are adult")
    
# whenver if condition gets true interpreter sends the control inside that if
# whenver if condition gets false interpreter sends the control outside that if.

In [ ]:
age = int(input("Enter Your age:"))#17
if age>18: #T #F  14>18 #F #T #F
    print("You are adult")
print("Your are not adult")

In [ ]:
age = int(input("Enter Your age:"))
if age>18: #T #F  14>18 #F #23 #13
    print("You are adult")
else:
    print("Your are not adult")

In [ ]:
uname = input("Enter Your Username:")
pasw = input("Enter Your Password:")
if uname=="python" and pasw=="12345":
    print("You credentials are correct")
else:
    print("Your credentials are wrong")

In [ ]:
height = float(input("Enter Your height:"))
weight = float(input("Enter Your Weight:"))
bmi = weight/height**2
print(bmi)
if bmi<15:
    print("Very Severely inderweighted")
elif bmi<16:
    print("severely underweighted")
elif bmi<18.5:
    print("Normal Weighted")

In [ ]:
n1 = 10
n2 = 20
n3 = 15
if n1>n2:
    if n1>n3:
        print("N1 is the greates")
    else:
        print("N3 is the greates")
else:
    if n2>n3:
        print("N2 is the greatest")
    else:
        print("N3 is the greates")

In [ ]:
# fstring

n1 = 10
n2 = 20
n3 = 15
if n1>n2:
    if n1>n3:
        print(f"{n1} is the greates")
    else:
        print(f"{n3} is greates")
else:
    if n2>n3:
        print(f"{n2} is the greatest")
    else:
        print(f"{n3} is the greatest")

In [ ]:
# multiple if or ladder if
'''
if cond1:
    statements
if cond2:
    statements
if cond3:
    statement
if cond4:
    statement
else:
    
    
'''

In [ ]:
n1=10
n2=6
if n1<20:
    print("first")
if n2<10:
    print("second")

In [ ]:
#LOOPS

In [ ]:
li = [1, 'avanish', 'Yes', 'delhi', 25, 300000, 2, 'vasu', 'delhi']
name = "Avanish"

In [ ]:
# for loops 
# while loops

In [ ]:
# in case of for loop i already kew how many times my loop is going to execute
# syntax-: for var in sequence:

In [ ]:
li = [1, 'avanish', 'Yes', 'delhi', 25, 300000, 2, 'vasu', 'delhi']
for i in li:
    print(i)

In [ ]:
li = [1, 'avanish', 'Yes', 'delhi', 25, 300000, 2, 'vasu', 'delhi']
for i in li:
    print(i, end=',')

In [ ]:
li = [1, 'avanish', 'Yes', 'delhi', 25, 300000, 2, 'vasu', 'delhi']
for i in range(1,len(li)):
    if i%2==0:
        continue
    else:
        print(li[i])

In [ ]:
x = "vasu"
for i in x:
    print(i,end=' ')

In [ ]:
# range()

In [ ]:
# range always works only on the for loop
# returns sequence of numbers
# syntax-: range(start_value:stop_value:step)

In [ ]:
for i in range(1,101,5):
    print(i, end=",")

In [ ]:
li = []
for i in range(1,101,5):
    li.append(i)
print(li)

In [ ]:
li = []
for i in range(1,101,5):
    li.append(i)
    print(li)

In [ ]:
for i in range(5,51,5):
    print(i)

In [ ]:
n=5
for i in range(1,11):
    res = n*i
    print(f"{n}*{i}={res}")

In [ ]:
# nested for loops
# for inside for

for i in range(5,21):
    for j in range(1,11):
        print(f"{i}*{j}={i*j}")
    print("----------------------------------------------------------")

In [ ]:
num = int(input("Enter any number:"))
# formula-: n! = n(n-1)!         # 5 = 5*(5-1)! = 5*4*3*2*1 = 120

for i in range(num, 0, -1):
    f = 1
    f = f*i   #5 #20 #60 # 120 #120
print(f)

In [ ]:
# fabnacci series
# 0,1,1, 2, 3, 5, 8, 13, 21, 34
turm = int(input("enter the number of turms:"))
f = 0
s = 1
for i in range(turm):
    print(f)
    #swapping
    temp = f  #2 
    f = s   #3
    s = s+temp  #5

In [ ]:
# prime numbers
# 12
num = int(input("Enter any number  to check prime or not:"))
for i in range(2, num):
    if num%i==0:
        print(f"{num} Not a prime number")
        break
else:
    print(f"{num} is prime number")
    
#

In [ ]:
for i in range(1,201):
    print(i)
else:
    print("These were the numbers")

In [ ]:
for i in range(50,201):
    for j in range(2,i):
        if i%j==0:
            break
    else:
        print(i, end=' ')

In [ ]:
li = [10,76,9,17,25,32,24]
x = []
for i in li:
    if i%2==0:
        x.append(i)
print(x)

In [ ]:
li = [10,76,9,17,25,32,24]
x = []
for i in range(0,7):
    if li[i]%2==0:
        #print(f"Even Number is {li[i]}")
        x.append(li[i])
print(x)

In [ ]:
li = [10,76,9,17,25,32,24]
for i in li:
    newli = []
    for j in range(2,i+1):
        if i%j==0:
            newli.append(j)
    print(f"Factors of {i} is:{newli}")

In [ ]:
# 121, "Madam", 666

value = input("Enter Anything...")
if value == value[::-1]:
    print(f"Your Input {value} is an Palindrome")
else:
    print(f"Your Input {value} is not an Palindrome")

In [ ]:
# while loops
# initialization
# while(condition): 
#     body of while loop
#       steps

In [ ]:
i = 1
while(i<=50): #T #F
    print(i,end=' ')
    i = i+1

In [ ]:
# Armstrong number
# 657  = length=3  6**3+5**3+7**3 = 657
# 7865 = length=4  7**4+8**4+6**4+5**4 =

In [ ]:
num = int(input("enter Any number:")) #370
length = len(str(num))
num1 = num
som = 0
while(num1>0):
    rem = num1%10  #0 #7 #3
    som = som + (rem**length) #343  #370
    num1 = num1//10 #37 #3  #0
    print(som)
if num==som:
    print(f"{num} is Armstrong Number")
else:
    print(f"{num} is not Armstrong Number")

In [ ]:
'''
0, 1, 2, 3, 4, 5, 6, 7, 8, 9
153, 370, 371, 407
1634, 8208, 9474,
54748, 92727, 93084
548834
1741725, 4210818, 9800817, 9926315

'''

In [ ]:
print(7**3)

In [ ]:
print(370%10)

In [ ]:
0**1

In [ ]:
3%10

In [ ]:
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
num = int(input("Enter the number of rows ou want:"))
for row in range(1,num+1):
    for col in range(1,row+1): #(1,3)
        print(col,end=' ')
    print()

In [ ]:
num = int(input("Enter the number of rows ou want:"))
for row in range(1,num+1):
    for col in range(1,row+1): #(1,3)
        print(row,end=' ')
    print()

In [ ]:
name = "avanish singh"
for i in name:
    if i=='a':
        continue
    else:
        print(i, end='')

In [ ]:
name.split('a')

In [ ]:
for i in range(50,101):
    for j in range(2,i):
        if i%j==0:
            break
    else:
        if i>=70 and i<=80:
            continue
        else:
            print(i)

In [ ]:
13*7

In [ ]:
# comprehensions
# list comprehension
# dict comprehension

In [ ]:
# res = [result for var in sequence if conditions]  
# above syntax is only for one or more for loops and on or more if conditions(nested if)

# res = [res_of_if if condition else res_of_else for loop]
# above syntax is for one or more than one for loops and if else conditions

In [ ]:
x = [10,20,0,69,100,91,88,83,33,90]
res = [i for i in x if i%2!=0]
print(res)

In [ ]:
x = [10,20,0,69,100,91,88,83,33,90]
y = []
for i in x:
    if i%2!=0:
        y.append(i)
print(y)

In [ ]:
x = [10,20,0,69,100,91,88,83,33,90]
res = [i for i in x if i%2!=0 if i%3==0]
print(res)

In [ ]:
r =[f"{i}*{j}={i*j}" for i in range(10,16) for j in range(1,11)] 
print(r)

In [ ]:
n = 8
r =[f"{n}*{i}={n*i}" for i in range(1,11)] 
print(r)

In [ ]:
x = [i if i%2==0 else "odd" for i in range(20,41)]
print(x)

In [ ]:
# dict comprehension

In [ ]:
d = {1:"Avi", 2:"Ravi", 3:"Vasu",4:"Savi",5:"Mavi",6:"Xavi"}
for i,j in d.items():
    if i%2==0:
        print(f"{i}:{d[i]}")

In [ ]:
d = {1:"Avi", 2:"Ravi", 3:"Vasu",4:"Savi",5:"Mavi",6:"Xavi"}
res = {i:j for i,j in d.items() if i%2==0}
print(res)

In [ ]:
emp = {1:"Avi", 2:"Ravi", 3:"Vasu",4:"Savi",5:"Mavi",6:"Xavi"}
u_search = input("Enter the name to search from my dictionary:")
res = {i:j if u_search in j else "This name is not in my dictionary" for i,j in emp.items()}
print(res)

In [ ]:
emp = {1:"Avi", 2:"Ravi", 3:"Vasu",4:"Savi",5:"Mavi",6:"Xavi"}
u_search = input("Enter the name to search from my dictionary:")
res = {i:j for i,j in emp.items() if u_search in j}
print(res)

In [ ]:
# function-2
# object oriented programming-3
# file handeling-1
# exception handeling-1
# numpy-2
# pandas-3
# data visualization
# matplotlib-1
# seaborn 2
# statistics
#

In [ ]:
# function
# user defined
# built in function

In [ ]:
def vasu(num):  # function protype  # formal parameter  # requirede paramter
    f = 1
    for i in range(num,0,-1):
        f = f*i
    print("factorial result is:",f)
vasu(5)   # actual value # actual parameter  # function calling  
    

# function follows bottom up approach

In [ ]:
def vasu(num):  
    f = 1
    for i in range(num,0,-1):
        f = f*i
    print("factorial result is:",f)

def checkPrime(n):
    for j in range(2, n):
        if n%j==0:
            print(f"Your number {n} is not a prime number")
            break
    else:
        print(f"Your number {n} is a prime number")

x = int(input("Enter a number to calculate factorial:"))        
y = int(input("Enter a number to check prime number:"))        
vasu(x)
checkPrime(y)

In [ ]:
def vasu(num):  
    f = 1
    for i in range(num,0,-1):
        f = f*i
    print("factorial result is:",f)

def checkPrime(n):
    for j in range(2, n):
        if n%j==0:
            print(f"Your number {n} is not a prime number")
            break
    else:
        print(f"Your number {n} is a prime number")
    
    def vasu2(num):  
        f = 1
        for i in range(num,0,-1):
            f = f*i
        print("factorial result is:",f)
    z = int(input("Enter a number to calculate factorial:"))     
    vasu2(z)    

x = int(input("Enter a number to calculate factorial:"))        
y = int(input("Enter a number to check prime number:"))        
vasu(x)
checkPrime(y)

In [ ]:
# parameters and there types

# required parameter
# default parameter
# keywords parameter
# arbitrary parameter

In [ ]:
def cal_simple_interest(p, t, r=5):
    res = (p*r*t)/100
    print("simple interest after 5 years will be:",res)
px = int(input("Enter the principle ")) 
time = int(input("Enter the time:"))
cal_simple_interest(px, time)

In [ ]:
# below is the example of keywords arguments/parameter
def cal_simple_interest(p, t, r=5):
    res = (p*r*t)/100
    print("simple interest after 5 years will be:",res)
px = int(input("Enter the principle ")) 
time = int(input("Enter the time:"))
cal_simple_interest(t=time,p=px)

In [ ]:
# example of arbitrary parameter

def example_arbitrary(*args):
    for i in args:
        print(i)
example_arbitrary('hello', 'avanish', 'its', 6, 'june',10000, 67.90)

In [ ]:
# return statement
# retuern sends the result to the calling 
# any statement written after ruturn statement will not be read by the interpreter

In [ ]:
def cal_simple_interest(p, t, r=5):
    res = (p*r*t)/100
    return res
px = int(input("Enter the principle ")) 
time = int(input("Enter the time:"))
print("simple interest is:",cal_simple_interest(px, time))

In [ ]:
def cal_simple_interest(p, t, r=5):
    res = (p*r*t)/100
    return res
       
px = int(input("Enter the principle ")) 
time = int(input("Enter the time:"))
print("simple interest is:",cal_simple_interest(px, time))

In [ ]:
# local variable
# global variable

In [ ]:
def LG(x, y, z):  # formal parameters
    res = x+y*z
    m = x//y
    n = res+m+z
    print(n)
LG(10,9,6)

In [ ]:
def LG(x, y, z):  # formal parameters
    res = x+y*z
    m = x//y
    n = res+m+z
    print(n)
LG(10,9,6)
#print(m) 
# it will show you error because it is a local variable and you can not use or change a local variable outside a function

In [ ]:
name = 'Avanish Singh'
def LG(x, y, z):  # formal parameters
    res = x+y*z
    m = x//y
    n = res+m+z
    
    print(name)  # printing a global variable
    
    print(n)
LG(10,9,6)
print(name)  # it will print nmae b'cz name is a global variable
# you can use global variable outside a function or inside a function

In [ ]:
name = 'Avanish Singh'
def LG(x, y, z):  # formal parameters
    res = x+y*z
    m = x//y
    n = res+m+z
    #name = name +'Rajwaar'
    print(name)  # printing a global variable
    
    print(n)
LG(10,9,6)
name = name +' Rajwaar'
print(name)  # it will print nmae b'cz name is a global variable
# you can use global variable outside a function or inside a function

In [ ]:
# see, if you are trying to chnage a global variable outside a function that is perfectly fine
# but if you want to chnage a global variable inside a function then you have to decalre it first inside that function
# you have to decalre it with the keyword of global

In [ ]:
name = 'Avanish Singh'
def LG(x, y, z):  # formal parameters
    res = x+y*z
    m = x//y
    n = res+m+z
    global name
    name = name +' Rajwaar'
    print(name)  # printing a global variable
    print(n)
LG(10,9,6)
print(name)

# recersion

In [1]:
# when function caslls itself
# and that function which calls itself is known as recursive function.

## factorial program

In [5]:
def factri(num):
    if num==0:
        return 1
    elif num==1:
        return 1
    else:
        return num*factri(num-1)   #recursion

print(factri(6))

720

##fabinacci series

## fabinacci series

In [6]:
def fabi(turm):
    if turm==0:
        return 0
    elif turm==1:
        return 1
    else:
        return fabi(turm-2)+fabi(turm-1)  # recursion

x = int(input("Enter no. of turms:"))
for i in range(x):
    print(fabi(i))

Enter no. of turms:12
0
1
1
2
3
5
8
13
21
34
55
89

# lambda function

# #syntax-:

## var = lambda no.of arguments:single expression

In [4]:
res = lambda p,r,t:(p*r*t)/100
print(res(10000,5,5))

2500.0

## map()

## syntax = map(function, sequences)

In [5]:
li = [12,78,54,9,23,16,40,33,20]
res = list(map(lambda x:(5/100)*x, li))
print(res)

[0.6000000000000001, 3.9000000000000004, 2.7, 0.45, 1.1500000000000001, 0.8, 2.0, 1.6500000000000001, 1.0]

In [6]:
li = [12,78,54,9,23,16,40,33,20]
res2 = list(map(lambda x:x%2==0, li))
print(res2)

[True, True, True, False, False, True, True, False, True]

## filter(function, sequences)

In [7]:
li = [12,78,54,9,23,16,40,33,20]
res2 = list(filter(lambda x:x%2==0, li))
print(res2)

[12, 78, 54, 16, 40, 20]

In [8]:
# program to remove the duplicates from a list

In [9]:
li = [1,6,8,2,10,1,8,11,39,24,24,1,8,11]
res = list(filter(lambda x:li.count(x)==1,li))
print(res)

[6, 2, 10, 39]

In [10]:
li = [1,6,8,2,10,1,8,11,39,24,24,1,8,11]
res = list(map(lambda x:li.count(x)==1,li))
print(res)

[False, True, False, True, True, False, False, False, True, False, False, False, False, False]

In [12]:
li1 = [1,6,8,2,10,11,39,24]
li2 = [5,9,1,17,33,89,2,11,56,78,43,24]
# list(filter(fun,sequnce))
# lambda x:x in li, li2
res = list(filter(lambda x: x in li1, li2))
print(res)

[1, 2, 11, 24]

In [15]:
li1 = [1,6,8,2,10,11,39,24]
li2 = [5,9,1,17,33,89,2,11]
res = list(map(lambda x,y:y//x, li1,li2))
print(res)

[5.0, 1.5, 0.125, 8.5, 3.3, 8.090909090909092, 0.05128205128205128, 0.4583333333333333]

In [16]:
my_pets = ['alfred', 'tabitha', 'william', 'arla']

uppered_pets = list(map(str.upper, my_pets))

print(uppered_pets)

['ALFRED', 'TABITHA', 'WILLIAM', 'ARLA']

In [17]:
my_pets = ['alfred', 'tabitha', 'william', 'arla']

uppered_pets = list(map(lambda x:x.upper(), my_pets))

print(uppered_pets)

['ALFRED', 'TABITHA', 'WILLIAM', 'ARLA']

In [19]:
s = input("Enter something:")
c_upper = 0
c_lower = 0
for i in s:
    if i.isupper():
        c_upper +=1
    elif i.islower():
        c_lower +=1
    else:
        pass
print("upper case characters are:",c_upper)
print("Lower case characters are:",c_lower)

Enter something:Hello VASU how are You? Hope You are Good.
upper case characters are: 9
Lower case characters are: 23